<!doctype html>
{% load static %}
<html lang="en">
<head>
    <title>Placeholder Title</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Judah Paul">    
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}"> 
    
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css">

    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/theme-7.css' %}">
</head>

<body>
    <header class="header text-center">	    
	    <h1 class="blog-name pt-lg-4 mb-0"><a href="#">Judah's Blog</a></h1>
        
	    <nav class="navbar navbar-expand-lg navbar-dark" >
           
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'assets/images/default.jpg' %}" alt="image" >			
					
					<div class="bio mb-3">Hi, my name is Judah Paul. Brief introduction here. Link to GoFundMe.<br><a href="#">Support Me</a></div><!--//bio-->
			        <hr> 
				</div><!--//profile-section-->
				
				<ul class="navbar-nav flex-column text-center">
					<li class="nav-item">
					    <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home fa-fw mr-2"></i>Blog Home<span class="sr-only">(current)</span></a>
                    </li>
                    {% if user.is_authenticated and user.is_superuser %}
					<li class="nav-item">
					    <a class="nav-link" href="{% url 'post-create' %}"><i></i>+ New Blog Post +</a>
                    </li>
					<li class="nav-item">
					    <a class="nav-link" href="{% url 'testemonial-create' %}"><i></i>+ New Testemonial +</a>
                    </li>
					<li class="nav-item">
					    <a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-user fa-fw mr-2"></i>Edit Account Details</a>
                    </li>
					<li class="nav-item active">
					    <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-user fa-fw mr-2"></i>Logout - Signed in as {{ user.first_name }}</a>
                    {% elif user.is_authenticated %}
					<li class="nav-item">
					    <a class="nav-link" href="{% url 'testemonial-create' %}"><i></i>+ New Testemonial +</a>
                    </li>
					<li class="nav-item">
					    <a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-user fa-fw mr-2"></i>Edit Account Details</a>
                    </li>
					<li class="nav-item active">
					    <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-user fa-fw mr-2"></i>Logout - Signed in as {{ user.first_name }}</a>
                    </li>
                    {% else %}
					<li class="nav-item active">
					    <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-user fa-fw mr-2"></i>Login</a>
                    </li>
					<li class="nav-item active">
					    <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user fa-fw mr-2"></i>Register</a>
                    </li>
                    {% endif %}
				</ul>
				
				<div class="my-2 my-md-3">
				    <a class="btn btn-primary" href="#" target="_blank">Get in Touch</a>
				</div>
			</div>
		</nav>
    </header>
    
    <div class="main-wrapper">
        {% block content %} 

        {% endblock content %}
    
        <footer class="footer text-center py-2 theme-bg-dark">
        
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed by <a href="#" target="_blank">Judah Paul</a></small>
        
        </footer>

    </div><!--//main-wrapper-->
    
    <!-- Javascript -->          
    <script src="{% static 'assets/plugins/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/plugins/popper.min.js' %}"></script> 
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script> 

    <!-- Page Specific JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>

    <!-- Custom JS -->
    <script src="{% static 'assets/js/blog.js' %}"></script>

</body>
</html> 