<!doctype html>
{% load static %}
<html lang="en">
<head>
    <title>Placeholder Title</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Judah Paul">    
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/theme-7.css' %}">
</head>

<body>
    <header class="header text-center" style="font-family: Helvetica;"> 
	    <h1 class="blog-name pt-lg-4 mb-0"><a href="{% url 'home' %}">Judah's Blog</a></h1>
        
	    <nav class="navbar navbar-expand-lg navbar-dark" >
           
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'assets/images/default.jpg' %}" alt="image" >			
					
					<div class="bio mb-3">Hi, my name is Judah Paul. &lt;Placeholder for bio&gt;<br><a href="#">Learn More</a></div><!--//bio-->
			        <hr> 
                </div><!--//profile-section-->

				<ul class="navbar-nav flex-column text-center">
                    {% if request.path == '/' %}
                        <li class="nav-item  active">
                    {% else %}
                        <li class="nav-item">
                    {% endif %}
					        <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home fa-fw mr-2"></i>Blog Home<span class="sr-only">(current)</span></a>
                        </li>

                    {% if user.is_authenticated and user.is_superuser %}
                        {% if request.path == '/profile/' %}
                            <li class="nav-item  active">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                                <a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-user fa-fw mr-2"></i>Edit Account Details</a>
                            </li>

                        {% if request.path == '/logout/' %}
                            <li class="nav-item  active">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                                <a class="nav-link" href="{% url 'logout' %}">
                                    <div style="position: relative; right: 7px;">
                                        <i class="fas fa-user fa-fw mr-1"></i>
                                        <span>Logout</span>
                                    </div>
                                    (Signed in as {{ user.first_name }})
                                </a>
                            </li>

                        {% if request.path == '/post/new/' %}
                            <li class="nav-item  active">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                                <a class="nav-link" href="{% url 'post-create' %}"><i></i>+ New Blog Post +</a>
                            </li>

                        {% if request.path == '/testemonial/new/' %}
                            <li class="nav-item  active">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                                <a class="nav-link" href="{% url 'testemonial-create' %}"><i></i>+ New Testemonial +</a>
                            </li>

                    {% elif user.is_authenticated %}
                        {% if request.path == '/profile/' %}
                            <li class="nav-item  active">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                                <a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-user fa-fw mr-2"></i>Edit Account Details</a>
                            </li>

                        {% if request.path == '/logout/' %}
                            <li class="nav-item  active">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                                <a class="nav-link" href="{% url 'logout' %}" style="text-decoration : none; transition: color .3s;;">
                                    <div style="position: relative; right: 7px;">
                                        <i class="fas fa-user fa-fw mr-1"></i>
                                        <span>Logout</span>
                                    </div>
                                    (Signed in as {{ user.first_name }})
                                </a>
                            </li>

                        {% if request.path == '/testemonial/new/' %}
                            <li class="nav-item  active">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                                <a class="nav-link" href="{% url 'testemonial-create' %}"><i></i>+ New Testemonial +</a>
                            </li>

                    {% else %}
                        {% if request.path == '/login/' %}
                            <li class="nav-item  active">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                                <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-user fa-fw mr-2"></i>Login</a>
                            </li>

                        {% if request.path == '/register/' %}
                            <li class="nav-item  active">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                                <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user fa-fw mr-2"></i>Register</a>
                            </li>

                    {% endif %}
				</ul>
				
				<div class="my-2 my-md-3">
				    <a class="btn btn-primary" href="https://www.gofundme.com/" target="_blank">Support Me</a>
				</div>
            </div> <!-- navigation -->
        </nav>
        
        {% if messages %}
            {% for message in messages %}
                <div style="width: 100%; bottom: 0; position: absolute;">
                    <div style="width: 90%; margin: 10px auto;"
                    {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"
                    {% else %} class="alert alert-info alert-dismissible" {% endif %} role="alert">
                        <button type="btn btn-primary" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </header>
    
    <div class="main-wrapper">
        {% block content %} 

        {% endblock content %}
    
        <footer class="footer text-center py-2 theme-bg-dark" style="margin-top: 50px;">
            <small class="copyright">Designed by 
                <a 
                    href="https://www.github.com/judahpaul16/"
                    style="text-decoration : none;"
                    target="_blank ">
                    Judah Paul
                </a>
            </small>
        </footer> <!-- Dev Credit-->

    </div><!--//main-wrapper-->
    
    <!-- Javascript -->          
    <script src="{% static 'assets/plugins/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/plugins/popper.min.js' %}"></script> 
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script> 

    <!-- Page Specific JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>

    <!-- Custom JS -->
    <script src="{% static 'assets/js/blog.js' %}"></script>

</body>
</html> 