{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

	<a name="top"></a>
	<header class="footer text-center py-2 outer theme-bg-dark">
		<div>
			<div id="loop">
				<small id="content" style="width: auto">
					Lorem ipsum dolor sit amet, consectetaur adipisicing elit.&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Lorem ipsum dolor sit amet, consectetaur adipisicing elit.
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Lorem ipsum dolor sit amet, consectetaur adipisicing elit.
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Lorem ipsum dolor sit amet, consectetaur adipisicing elit.
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Lorem ipsum dolor sit amet, consectetaur adipisicing elit.
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Lorem ipsum dolor sit amet, consectetaur adipisicing elit.
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Lorem ipsum dolor sit amet, consectetaur adipisicing elit.
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</small>
			</div>
		</div>
     </header>

	
    <div class="container mt-5">
    	<div class="conatiner mb-5" style="text-align: center;">
	    <h2 style="font-size: 50px;">&lt; Placeholder Blog Title &gt;</h2>
    	</div>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators" style="width: auto;">
                {% for file in carousel_files %}
                    {% if forloop.first %}
                        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                    {% else %}
                        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
                    {% endif %}
                {% endfor %}
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% for file in carousel_files %}
                    {% if forloop.first %}
                        <div class="item active">
                    {% elif not forloop.first %}
                        <div class="item">
                    {% endif %}
                            <img src="{% static 'assets/images/carousel/'|add:file %}" style="width:100%;">
                        </div>
                {% endfor %}
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="arrow-left">&lt;</span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="arrow-right">&gt;</span>
                <span class="sr-only">Next</span>
            </a>
        </div>
      </div>

      <section class="cta-section mt-5 mb-5">
        <div class="container">
            <p style="text-align: center; font-family: Cambria; font-style: italic; font-size: x-large;">
	   			Lorem ipsum dolor sit amet, consectetaur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            </p>
        </div>
    </section>
    <hr style="width: 75%; margin: 0 auto 13px;">

    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container px-5 py-5" style="background-color: #fafafb; border-radius: 25px; border-style: solid; border-color: #f0f0f0;">
			<h1 style="margin-bottom: 1em; text-align: center">
				Lastest Posts
			</h1>
            {% for post in page_obj %}
            <div class="item mb-5">
                <div class="media">
                    <a  href="{% url 'post-detail' post.id post.slug %}">    
                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ post.post_image.url }}" alt="image">
                    </a>
                    <div class="media-body">
                        <h3 class="title mb-1"><a href="{% url 'post-detail' post.id post.slug %}">{{ post.title }}</a></h3>
                        <div class="meta mb-1"><span class="date">{{ post.timestamp|date:"F d, Y @ f a" }}</span><span class="comment"><a href="#">8 comments</a></span></div>
                        <div class="intro">
                            {{ post.intro }}...  <a class="more-link" href="{% url 'post-detail' post.id post.slug %}">Read more &rarr;</a>
                        </div>
                    </div><!--//media-body-->
                </div><!--//media-->
            </div><!--//item-->
            {% endfor %}
        </div>

        <div class="text-muted py-3" style="text-align: center;">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>
        {% if is_paginated %}
            <div class="pagination d-flex justify-content-center">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            &larr;
                        </a>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a href="?page={{ num }}" class="active">
                                {{ num }}
                            </a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a href="?page={{ num }}">
                                {{ num }}
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            &rarr;
                        </a>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </section>
    <hr style="width: 100%; margin: 0;">
    <section class="cta-section theme-bg-light py-5 alert-dismissible mobile-hide"
            style="padding: 48px 0px;" id="newsletter">
        <div class="container text-center" style="position: relative; left: 25px;">
            <h2 class="heading">Join the Newsletter</h2>
            <div class="intro">Subscribe and get my latest blog post in your inbox.</div>
            <form class="signup-form form-inline justify-content-center pt-3">
                {% csrf_token %}
                <div class="form-group">
                    <label class="sr-only" for="semail">Your email</label>
                    <input 
						type="tel" id="phone" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
						class="form-control mr-md-1" style="max-width: 200px;"
						placeholder="Phone # - Optional">
                    <input 
						type="email" id="semail" name="semail1"
						class="form-control mr-md-1 semail"
						placeholder="Email Address - Required" required>
                </div>
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
        </div> <!--//container-->
    </section> <!-- newsletter: show this on desktop -->
    
    <section class="cta-section theme-bg-light py-5 mobile-show">
        <div class="container text-center">
            <h2 class="heading">Join the Newsletter</h2>
            <div class="intro">Subscribe and get my latest blog post in your inbox.</div>
            <form class="signup-form form-inline justify-content-center pt-3">
                {% csrf_token %}
                <div class="form-group">
                    <label class="sr-only" for="semail">Your email</label>
                    <input
                        type="tel" id="phone" name="phone" pattern="[+]{1}[0-9]{11,14}"
                        class="form-control mr-md-1 mb-2" style="max-width: 200px; margin: auto;"
                        placeholder="Phone # - Optional">
                    <input
                        type="email" id="semail" name="semail1"
                        class="form-control mr-md-1 mb-2 semail"
                        placeholder="Email Address - Required" required>
                </div>
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
        </div> <!--//container-->
    </section> <!-- newsletter: show this on mobile -->
    <hr style="width: 100%; margin-top: 0;">


    {% block testimonial %} 
        {% include 'testimonial.html' %}
    {% endblock testimonial %}

	<div class="callout mobile-hide">
	  <div class="callout-header">Notification</div>
	  <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
	  <div class="callout-container">
		<p>Some text to describe the callout message. <a href="#">Learn more</a> or close it if it is in your way.</p>
	  </div>
	</div>
        
	<footer class="footer text-center py-2 theme-bg-dark" style="margin-top: 50px;">
         <small class="copyright">Designed by 
             <a 
                 href="https://www.github.com/judahpaul16/"
                 style="text-decoration : none;"
                 target="_blank ">
                 Judah Paul
             </a>
         </small>
     </footer> <!-- Dev Credit-->

{% endblock content %}
