{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center">
            <h2 class="heading">Join the Newsletter</h2>
            <div class="intro">Subscribe and get my latest blog post in your inbox.</div>
            <form class="signup-form form-inline justify-content-center pt-3">
                {% csrf_token %}
                <div class="form-group">
                    <label class="sr-only" for="semail">Your email</label>
                    <input type="tel" id="phone" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" class="form-control mr-md-1" style="max-width: 200px;" placeholder="Phone # - Optional">
                    <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Email Address - Required" required>
                </div>
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
        </div><!--//container-->
    </section>
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">

            {% for post in page_obj %}
            <div class="item mb-5">
                <div class="media">
                    <a  href="{% url 'post-detail' post.id post.slug %}">    
                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ post.post_image.url }}" alt="image">
                    </a>
                    <div class="media-body">
                        <h3 class="title mb-1"><a href="{% url 'post-detail' post.id post.slug %}">{{ post.title }}</a></h3>
                        <div class="meta mb-1"><span class="date">{{ post.timestamp|date:"F d, Y @ f a" }}</span><span class="comment"><a href="#">8 comments</a></span></div>
                        <div class="intro">
                            {{ post.intro }}...  <a class="more-link" href="{% url 'post-detail' post.id post.slug %}">Read more &rarr;</a>
                        </div>
                    </div><!--//media-body-->
                </div><!--//media-->
            </div><!--//item-->
            {% endfor %}
        </div>
        
        <style>
            .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            margin: 0 4px;
            border: 1px solid #ddd;
            }

            .pagination a.active {
            background-color: #5d6db4;
            color: white;
            border: 1px solid #5d6db4;
            }

            .pagination a:hover:not(.active) {color: white;background-color: #5d6db4;}

        </style> <!-- pagination stylying -->

        <div class="text-muted mb-3" style="text-align: center;">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>
        {% if is_paginated %}
            <div class="pagination d-flex justify-content-center">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            &larr;
                        </a>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a href="?page={{ num }}" class="active">
                                {{ num }}
                            </a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a href="?page={{ num }}">
                                {{ num }}
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            &rarr;
                        </a>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        
    </section>

    {% block testemonial %} 
        {% include 'testemonial.html' %}
    {% endblock testemonial %}

{% endblock content %}