{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load user_agents %}
	<section class="profile centered py-3 px-3 {% if request|is_pc %} ml-5 {% endif %}">
	  <div class="container">
		  <h2 style="text-align: center">Forgot Your Password?</h2>
		  <form method="POST">
			  {% csrf_token %}
			  <fieldset class="profile-form-group">
				  {{ form|crispy }}
			  </fieldset>
			  <div class="form-group" style="text-align: center">
				  <button class="btn btn-primary" type="submit">Request Reset Email</button>
			  </div>
		  </form>
	  </div><!--//container-->
	</section>
{% endblock content %}
