{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section style="margin: 174px auto; display:block">
    <div class="container">
        <h2 style="text-align: center">Enter Your New Password</h2>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Reset Password</button>
            </div>
        </form>
    </div><!--//container-->
</section>
{% endblock content %}
