{% extends "base.html" %}
{% block content %}
<section style="margin: 290px auto; display:block">
    <div class="container">
        <h2 style="text-align: center">Are you sure you want to delete the post<br>"{{ object.title }}"?</br></h2>
        <form method="POST" class="form-inline justify-content-center mt-4 mb-4">
            {% csrf_token %}
            <div class="form-group">
                <a class="btn btn-primary mr-2" href="{% url 'post-detail' object.id object.slug %}">Cancel</a>
                <button class="btn btn-primary" style="color: white;" type="submit">Confirm</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}