<!doctype html>
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<article class="blog-post px-3 py-5 p-md-5">
    <div class="container">
        <header class="blog-post-header">
            <h2 class="title mb-2">{{ post.title }}</h2>
            <div class="meta mb-3"><span class="date">Published {{ post.timestamp|date:"F d, Y @ f a" }}</span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
        </header>
        
        <div class="blog-post-body">
            <figure class="blog-banner">
                <a href="#"><img class="img-fluid" style="margin: 10px auto 20px; display: block;" src="{{ post.post_image.url }}" alt="image"></a>
                <figcaption class="mt-2 text-center image-caption">Image Credit: <a href="#" target="_blank">Placeholder for image credit</a></figcaption>
            </figure>
            <p>{{ post.content }}</p>
        
        <div class="blog-comments-section">
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT 
                 *  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR 
                 *  PLATFORM OR CMS.
                 *  
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: 
                 *  https://disqus.com/admin/universalcode/#configuration-variables
                 */
                /*
                var disqus_config = function () {
                    // Replace PAGE_URL with your page's canonical URL variable
                    this.page.url = PAGE_URL;  
                    
                    // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    this.page.identifier = PAGE_IDENTIFIER; 
                };
                */
                
                (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                    var d = document, s = d.createElement('script');
                    
                    // IMPORTANT: Replace 3wmthemes with your forum shortname!
                    s.src = 'https://3wmthemes.disqus.com/embed.js';
                    
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>
                Please enable JavaScript to view the 
                <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                    comments powered by Disqus.
                </a>
            </noscript>
        </div><!--//blog-comments-section-->
        
    </div><!--//container-->
</article>

<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">Newsletter</h2>
        <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
        <form class="signup-form form-inline justify-content-center pt-3">
            <div class="form-group">
                <label class="sr-only" for="semail">Your email</label>
                <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
    </div><!--//container-->
</section>

{% endblock content %}