<!doctype html>
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
    <section style="margin: 50px auto;">    
        <div class="container">
            <div class="text-left">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Create Account</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Create Account</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted mr-2">
                        Already Have an Account? <a class="ml-2" href="{% url 'login' %}" style="color:black">Sign In</a>
                    </small>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}