{% block testemonial %}
<section style="margin: 10px auto; display:block">
    <style>
        .container2 {
        border: 2px solid #ccc;
        border-radius: 5px;
        padding: 15px;
        margin: 15px 225px;
        }

        .container2::after {
        content: "";
        clear: both;
        display: table;
        }

        .container2 img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
        }

        .container2 span {
        font-size: 20px;
        margin-right: 15px;
        }

        @media (max-width: 500px) {
        .container2 {
            text-align: center;
        }

        .container2 img {
            margin: auto;
            float: none;
            display: block;
        }
        }
    </style>

    <h2 style="text-align: center; font-family: Arial;">Testemonials</h2>
    {% for testemonial in testemonials %}
        <div class="container2 theme-bg-light">
            <img src="{{ testemonial.author.profile.image.url }}" alt="Avatar" style="width:90px">
            <p><span>{{ testemonial.author.first_name }} {{ testemonial.author.last_name }}</span>{{ testemonial.title }}</p>
            <p>{{ testemonial.content }}</p>
            {% if user.is_authenticated and user == testemonial.author %}
                <form class="form-inline">
                    <a class="btn btn-primary mr-2" type="submit" href="{% url 'testemonial-update' testemonial.id testemonial.slug %}">Edit</a>
                    <a class="btn btn-primary" type="submit" href="{% url 'testemonial-delete' testemonial.id testemonial.slug %}">Delete</a>
                </form>
            {% endif %}
        </div>
    {% endfor %}
    
</section>
{% endblock testemonial %}